langchain==0.3.21
langchain_community==0.3.20
langchain_core==0.3.47
langchain_groq==0.3.1
langchain_mistralai==0.2.9
langchain_text_splitters==0.3.7
mistralai==1.6.0
Pillow==11.1.0
python-dotenv==1.0.1
streamlit==1.40.2
frontend
pypdf
starlette
pymupdf
faiss-cpu
